version: '3.4'
services:

  uwsgi:
    build:
      context: .
      target: uwsgi
    volumes:
      - ../db:/db
    ports:
      - 127.0.0.1:8000:8000
    networks:
      - libcsearch
    restart: always
    logging:
      driver: syslog
      options:
        tag: uwsgi

  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.0
    container_name: es01
    environment:
      - node.name=es01
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data01:/usr/share/elasticsearch/data
    ports:
      - 127.0.0.1:9200:9200
    networks:
      - libcsearch
    restart: always
    logging:
      driver: syslog
      options:
        tag: elasticsearch

volumes:
  data01:
    driver: local

networks:
  libcsearch:
